name: constructorDeclaration
phrase: constructor
insertionScope: namedFunction | statement
---

language: csharp | java
-
$1($2) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
constructor($1) {
    $0
}
---
language: python
-
def __init__(self$1):
    $0
---
language: cpp | c
-
$1($2);
---
name: constructorDefinition
phrase: constructor define
language: cpp | c
-
$className::$className($params)
{
    $body
}
---