name: constCast
description: C++ Const Cast
phrase: const cast
insertionScope: namedFunction

$var.wrapperPhrase: const cast
$var.wrapperScope: token
---

language: cpp | c
-
const_cast<$varType>($var)
---
