name: forwardClass
description: Forward declare a class
phrase: forward class
insertionScope: class

$varType.wrapperPhrase: forward class
$varType.wrapperScope: token
---

language: cpp | c
-
class $varType;
---
