name: getBlackboardBoolean
description: Get Blackboard Boolean
phrase: get blackboard boolean
insertionScope: namedFunction
---

language: cpp | c
-
bool $var = UHTNUtils::GetHTNBoolean($pawn, $traitName);
---
