name: getBlackboardFloat
description: Get Blackboard Float
phrase: get blackboard float
insertionScope: namedFunction
---

language: cpp | c
-
float $var = UHTNUtils::GetHTNFloat($pawn, $traitName);
---
