name: getBlackboardTag
description: Get Blackboard Gameplay Tag
phrase: get blackboard tag
insertionScope: namedFunction
---

language: cpp | c
-
FGameplayTag $var = UHTNUtils::GetHTNTag($pawn, $traitName);
---
