name: getBlackboardObject
description: Get Blackboard Object
phrase: get blackboard object
insertionScope: namedFunction
---

language: cpp | c
-
UObject* $var = UHTNUtils::GetHTNObject($pawn, $traitName);
---
