name: getBlackboardInteger
description: Get Blackboard Integer
phrase: get blackboard integer
insertionScope: namedFunction
---

language: cpp | c
-
int32 $var = UHTNUtils::GetHTNInteger($pawn, $traitName);
---
