name: ifStatement
phrase: if
insertionScope: statement

$1.wrapperPhrase: condition
$1.wrapperScope: statement
$0.wrapperPhrase: if
$0.wrapperScope: statement
---

language: csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
if ($1) {
    $0
}
---

language: c | cpp
-
if ($1) 
{
    $0
}
---

language: python
-
if $1:
    $0
---

language: lua
-
if $1 then
    $0
end
---
