name: imguiTextParams
description: IMGUI Text Function (With Params)
phrase: gooey text params
insertionScope: class | namedFunction

$statement.wrapperPhrase: gooey text params
$statement.wrapperScope: statement
---

language: cpp | c
-
ImGui::Text("$statement %$type", $expression);
---
