name: imguiText
description: IMGUI Text Function
phrase: gooey text
insertionScope: class | namedFunction

$statement.wrapperPhrase: gooey text
$statement.wrapperScope: statement
---

language: cpp | c
-
ImGui::Text("$statement");
---
