name: mathNearlyEqual
description: Unreal FMath::IsNearlyEqual()
phrase: math nearly equal
insertionScope: namedFunction
---

language: cpp | c
-
FMath::IsNearlyEqual($value, $target, $tolerance)
---
