name: mathAbs
description: Unreal FMath_Abs()
phrase: math abs
insertionScope: namedFunction

$value.wrapperScope: token
$value.wrapperPhrase: math abs
---

language: cpp | c
-
FMath::Abs($value)
---
