name: mathSquare
description: Unreal FMath_Square()
phrase: math square
insertionScope: namedFunction

$value.wrapperScope: token
$value.wrapperPhrase: math square
---

language: cpp | c
-
FMath::Square($value)
---
