name: onScopeExit
description: Unreal On Scope Exit Macro
phrase: scope exit
insertionScope: class | namedFunction

$statement.wrapperPhrase: scope exit
$statement.wrapperScope: token
---

language: cpp | c
-
ON_SCOPE_EXIT{ $statement };
---
