name: operatorLessThan
description: CPP less than operator override
phrase: operator less than
insertionScope: class

$varType.wrapperScope: token
---

language: cpp | c
-
bool operator<(const $varType& Other) const;
---
