name: setBlackboardBoolean
description: Set Blackboard Boolean
phrase: set blackboard boolean
insertionScope: namedFunction
---

language: cpp | c
-
UHTNUtils::SetHTNBoolean($pawn, $traitName, $value);
---
