name: setBlackboardObject
description: Set Blackboard Object
phrase: set blackboard object
insertionScope: namedFunction
---

language: cpp | c
-
UHTNUtils::SetHTNObject($pawn, $traitName, $value);
---
