name: setBlackboardInteger
description: Set Blackboard Integer
phrase: set blackboard integer
insertionScope: namedFunction
---

language: cpp | c
-
UHTNUtils::SetHTNInteger($pawn, $traitName, $value);
---
