name: staticCast
description: C++ Static Cast
phrase: static cast
insertionScope: namedFunction

$var.wrapperPhrase: static cast
$var.wrapperScope: token
---

language: cpp | c
-
static_cast<$varType>($var)
---
