name: objectPointer
description: Unreal TObjectPtr
phrase: object pointer
insertionScope: class | namedFunction

$varType.wrapperPhrase: tea object pointer
$varType.wrapperScope: token
---

language: cpp | c
-
TObjectPtr<$varType>
---
