name: optional
description: Unreal TOptional
phrase: optional
insertionScope: class | namedFunction

$varType.wrapperPhrase: optional
$varType.wrapperScope: token
---

language: cpp | c
-
TOptional<$varType>
---
