name: pimplPointer
description: Unreal TPimplPtr
phrase: pimple pointer
insertionScope: class | namedFunction

$varType.wrapperPhrase: pimple pointer
$varType.wrapperScope: token
---

language: cpp | c
-
TPimplPtr<$varType>
---
