name: softObjectPointer
description: Unreal TSoftObjectPtr
phrase: soft object pointer
insertionScope: class | namedFunction

$varType.wrapperPhrase: soft object pointer
$varType.wrapperScope: token
---

language: cpp | c
-
TSoftObjectPtr<$varType>
---
