name: weakObjectPointer
description: Unreal TWeakObjectPtr
phrase: weak object pointer
insertionScope: class | namedFunction

$varType.wrapperPhrase: week object pointer
$varType.wrapperScope: token
---

language: cpp | c
-
TWeakObjectPtr<$varType>
---
