name: uEnum
description: Unreal Enumeration
phrase: enumeration
insertionScope: line | statement
---

language: cpp | c

$name.insertionFormatter: PUBLIC_CAMEL_CASE
-
UENUM(BlueprintType)
enum class E$name : uint8
{

    $first
    , Count UMETA(Hidden)
};
---
