name: uInterface
description: Unreal UInterface
phrase: you interface
insertionScope: line
---

language: cpp | c

$name.insertionFormatter: PUBLIC_CAMEL_CASE
-
#pragma once

#include <UObject/Interface.h>

#include "$name.generated.h"

UINTERFACE(MinimalAPI, BlueprintType)
class U$name : public UInterface { GENERATED_BODY() };

class I$name
{
    GENERATED_BODY()

public:

};
---
