name: unrealInlineToggle
description: Unreal Inline Toggle Boolean
phrase: inline toggle
insertionScope: class | namedFunction
---

language: cpp | c
-
UPROPERTY(EditAnywhere, meta = (InlineEditConditionToggle)) bool b$0;
---
